---
layout: default
home-title: 耀日庄主的博客
header-img: https://gitee.com/srsyrzz/repository/raw/master/workhardpkg.jpg
description: Minecraft is my SOUL!!
---
{% include header.html %}

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
    {% if page.header-img %}
    <img class="header-img" src="{{ page.header-img | prepend: site.baseurl }}" alt="">
    {% endif %}
</div>
    </aside>
   <br>
   <br>
   <h1> 关于我 </h1>
   <br>
   <p>我是耀日庄主，是一名程序猿。</p>
<br />
   <p>是一名学生党。</p>
<br />
   <p>是一名mc中触。</p>
<br />
   <address>垃圾</address>
<br />
   <p>我在触手做视频。在这里发文章。</p>
<br />
   <p>欢迎加入我的聊天群：<a href=https://jq.qq.com/?_wv=1027&k=5ICR1iH>652262902</a></p>
<br />
   <p> 我很爱好linux，但是现在我的系统换回windows了，我现在很少玩linux了。</p>
<br />
   <p>身为一个学生党，我的html当然会差啦~~[手动滑稽]</p>
<br />
   <p>但是，我经常用markdown来写作，写文章。</p>
<br />
   <p>不过，我之前是没有这个博客的，我经常修改一些json，当然，也只会写一些json的代码。<del>自从读了《json从入门到放弃》后，我就变得写的json更少了</del>呵呵</p>
<br />
   <p>不管怎么样，我还是改不了我玩mc的天性。。。</p>
   
</main>

{% include footer.html %}

