---
layout: default
title: '下载页'
home-title: 耀日庄主的博客
header-img: https://gitee.com/srsyrzz/repository/raw/master/DiamondSwordPlay.jpg
description: Minecraft is my SOUL!!
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    
 {% include header.html %}

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
    {% if page.header-img %}
    <img class="header-img" src="{{ page.header-img | prepend: site.baseurl }}" alt="">
    {% endif %}
</div>
    </aside>
<main class="tags-content">
<ul class="tags-list">

<br>
    
<br>
    
<br>
    
<br>
    
<li>
    <span class='tag-name' id='getlocation'>快速定位模块</span>
    <a class="tag" href="#hmcl">下载HMCL</a>
    <br>
    <a class='tag' href='#chilledwindows'>ChilledWindows</a>
    <br>
    <a class='tag' href='#memz'>MEMZ病毒</a>
    <br>
    <a class='tag' href='#psiphonpc'>Psiphon3 电脑vpn软件</a>
    <br>
    <a class="tag" href="#gitdownload">下载git</a>
    <br>
	<a class="tag" href="#vmwarehome">vmware全家桶</a>
	<br>
	<a class="tag" href="#amtemudl">Adobe产品破解器</a>
	<br>
    <a class='tag' href='#win-explorer'>Windows Explorer下载</a>
    <br>
    <a class='tag' href='#report'>反馈模块</a>
</li>
    <br>
<li>
   <span class="tag-name" id="hmcl"> HMCL我的世界电脑启动器 </span>   
    <i class="fa fa-download"></i><a href='https://hmcl.huangyuhui.net/download'>下载</a>
</li>
    <br>
<li>
    <span class="tag-name" id="chilledwindows"> ChilledWindows </span>
    <i class="fa fa-download"></i><a href="https://https://coding.net/u/SunbossRS/p/GotBlogDowner/git/raw/master/filedown/ChilledWindows.exe">下载</a>
</li>
    <br>  
<li>
   <span class="tag-name" id="memz"> MEMZ病毒 </span>   
   <i class="fa fa-download"></i><a href='https://coding.net/u/SunbossRS/p/GotBlogDowner/git/raw/master/filedown/MEMZ-%E5%AF%86%E7%A0%81yaoriSunboss.zip'>普通版本</a>
   <br>
   <i class="fa fa-download"></i><a href="https://coding.net/u/SunbossRS/p/GotBlogDowner/git/raw/master/filedown/MEMZ-Clean.exe">无毒 干净版</a>
</li>
    <br>
<li>
   <span class="tag-name" id="psiphonpc"> Psiphon3 电脑vpn软件 </span>   
   <i class="fa fa-download"></i><a href='https://coding.net/u/SunbossRS/p/GotBlogDowner/git/raw/master/filedown/Psiphon%203%20VPN.exe'>下载</a>
</li>
    <br>
<li>
   <span class="tag-name" id="gitdownload"> Git工具下载 </span>
   <p><i class="fa fa-download"></i><a href="//gitforwindows.org">Windows</a></p>
   <br>
   <p><i class="fa fa-download"></i><a href="https://coding.net/u/SunbossRS/p/GotBlogDowner/git/raw/master/filedown/DownloadGitForLinux.txt">Linux</a></p>
</li>
    <br>
<li>
   <span class="tag-name" id="win-explorer"> Windows Explorer.exe下载 </span>   
   <i class="fa fa-download"></i><a href='https://coding.net/u/SunbossRS/p/GotBlogDowner/git/raw/master/filedown/explorerXP.exe'>xp</a>
    <br>
   <i class="fa fa-download"></i><a href='https://coding.net/u/SunbossRS/p/GotBlogDowner/git/raw/master/filedown/explorerWIN7.exe'>windows7</a>
    <br>
   <i class="fa fa-download"></i><a href='https://coding.net/u/SunbossRS/p/GotBlogDowner/git/raw/master/filedown/explorerVISTA.exe'>vista</a>
    <br>
   <i class="fa fa-download"></i><a href='https://coding.net/u/SunbossRS/p/GotBlogDowner/git/raw/master/filedown/explorerWIN8.1.exe'>windows8.1</a>
    <br>
   <i class="fa fa-download"></i><a href='https://coding.net/u/SunbossRS/p/GotBlogDowner/git/raw/master/filedown/explorerWIN10.exe'>windows10</a>
</li>
    <br>
<li>
    <span class="tag-name" id="vmwarehome"> VMWare虚拟机全家桶 </span>
    <i class="fa fa-download"></i><a href="https://www.vmware.com/go/getworkstation-win">VMWare Workstation Pro (windows)</a>
    <br>
    <i class="fa fa-download"></i><a href="https://www.vmware.com/go/getfusion">VMWare fusion (mac)</a>
    <br>
    <i class="fa fa-download"></i><a href="https://my.vmware.com/en/web/vmware/free#desktop_end_user_computing/vmware_workstation_player/14_0">VMWare Player (windows) (linux)</a>
</li>
    <br>
<li>
    <span class="tag-name" id="amtemudl"> Adobe产品破解器:AMTemu.exe </span>
	<i class="fa fa-download"></i><a href="https://coding.net/u/SunbossRS/p/GotBlogDowner/git/raw/master/filedown/AMTemu.exe">下载</a>
</li>
    <br>
<li>
   <span class="tag-name" id="report"> 反馈 </span>
   <script src="/assets/js/SunTalk.min.js"></script>

   <div id="gitalk_container"></div>     
   <script>
    var gitalk = new Gitalk({
      clientID: '800a929ad18c8e90fdbc',
      clientSecret: '3dcb1cc3680b9b85ad4291367b4aafefd6806e58',
      repo: 'BlogCommentStore',
      owner: 'SunbossRS',
      admin: 'SunbossRS',
      id: location.pathname,     
      distractionFreeMode: 'true'  
    })
    gitalk.render('gitalk_container')
   </script>

</ul>

</main>

{% include footer.html %}
