---
layout: default
home-title: 耀日庄主的博客
header-img: https://gitee.com/srsyrzz/repository/raw/master/New%20Projec.png
description: Minecraft is my SOUL!!
---
{% include header.html %}

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
    {% if page.header-img %}
    <img class="header-img" src="{{ page.header-img | prepend: site.baseurl }}" alt="">
    {% endif %}
</div>
    </aside>
   <br>
   <br>
    <h2>Links</h2>
 
    <h2>SunbossRS --> Links</h2>
    <p><a href="http://www.pdcblog.tk">Hyperzlib</a></p>

    <p><a href="https://mcog.s.cn.vc">mc联机组队群</a></p>

    <p><a href="https://mcpxg.weebly.com">mc玩家交流群</a></p>

    <p><a href="https://ray-eldath.github.io">Eldath</a></p>

   <p><a href="http://gloomyghost.com">GloomyGhost Blog</a></p>
   
   <p><a href="http://minecraft.net">minecraft.net</a></p>

   <p><a href="http://m.gitee.com/srsyrzz/repository/master">耀日庄主的储存库</a></pp>

   <p><a href="http://windows93.net">WINDOWS93</a></p>

   <p><a href="http://tour.ubuntu.com/zn-CN">ubuntu.tour</a></p>

   <p><a href="http://sorry.xuty.tk">Sorry在线生成</a></p>

   <p><a href="http://start.ubuntu.com">ubuntu的开始导航</a></p>

   <p><a href="http://">耀日庄主官方网站</a></p>
   
   <p><a href="http://uipack.techplayer.org/">UIpack</a></p>

</main>

{% include footer.html %}
