---
layout: default
home-title: 耀日庄主的博客
header-img: https://gitee.com/srsyrzz/repository/raw/master/sunup.jpg
description: Minecraft is my SOUL!!
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">

<style type="text/css">
      address {
        color:#66B3FF;
        font-size:13px;
      }
    </style>

{% include header.html %}

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
    {% if page.header-img %}
    <img class="header-img" src="{{ page.header-img | prepend: site.baseurl }}" alt="">
    {% endif %}
</div>
    </aside>
<main class="tags-content">
<ul class="tags-list">

<br>
    
<br>
    
<br>
    
<br>
    
<li>
   <span class="tag-name" id="linkarea"> 友情链接 </span>   
<br>
   <p><a href="https://mcog.s.cn.vc">mc联机组队群</a></p>
<br>
   <p><a href="https://mcpxg.weebly.com">mc玩家交流群</a></p>
<br>
   <p><a href="http://gloomyghost.com">GloomyGhost Blog</a></p>
<br>
   <p><a href="http://minecraft.net">minecraft.net</a></p>
<br>
   <p><a href="http://m.gitee.com/srsyrzz/repository/">耀日庄主的.博客 .图库 储存库</a></p>
<br>
   <p><a href="http://tour.ubuntu.com/zn-CN">ubuntu.tour</a></p>
<br>
   <p><a href="http://mc.whitegem.net">自定义mc成就</a></p>
<br>
   <p><a href="http://start.ubuntu.com">ubuntu开始导航</a></p>
<br>
   <p><a href="http://uipack.techplayer.org/">UIpack</a></p>
<br>
   <p><a href="https://tea9.github.io">Tea9的博客</a></p>
<br>
    <p><a href="https://www.zhangqirun.cn">童年是个风筝的博客</a></p>
</li>
    <br>
<li>
    <span class="tag-name" id="igetyourwebhere"> 让{{ site.author }}收录你的友情链接？ </span>
    <p>如果你真的要那样的话，请确保你的网站有以下条件:</p>
    <p>1. 你的博客或网站不能有不良信息。</p>
    <p>2. 网站要指向 <code>sunbossrs.github.io</code> 才行哦。</p>
    <strong><p>3. 告诉我你要加我友链。在下面的gitalk聊天室里发送如下内容，我就可以加你的友链。</strong>
    <address >我叫*你的网名*，我要申请添加友链。</address>
    <address>我的网站是*你的网站网址*</address>
    <address>我想让你的友链站中把我的网站写成*你想让我在我的友链站里写成的名称*</address>
    <p>4. 如果你的友链需要图标，可以 <a href='/https://avatars3.githubusercontent.com/u/38691765?s=96&v=4'>点击这里</a> 获得我的icon.</p>
</li>
    <br>
<li>
    <span class="tag-name" id="MyFriendLinkHasBadThings"> 我这里的友链出现了不良内容？ </span>
    <p>欢迎大家随时监督我的友链，如果你们看到我的友链里出了什么不良信息，大家可以随时反馈给我。</p>
    <p>反馈方法：</p>
    <p>在下面的gitalk聊天室</p>
</li>
    <br>   
<li>
   <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

   <div id="gitalk_container"></div>     
   <script>
    var gitalk = new Gitalk({
      clientID: '800a929ad18c8e90fdbc',
      clientSecret: '3dcb1cc3680b9b85ad4291367b4aafefd6806e58',
      repo: 'BlogCommentStore',
      owner: 'SunbossRS',
      admin: 'SunbossRS',
      id: location.pathname,     
      distractionFreeMode: 'true'  
    })
    gitalk.render('gitalk_container')
   </script>



</ul>

</main>

{% include footer.html %}
