---
layout: page
title: '博主自建下载站'
description: '该网站是博主自建的资源站！'
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<!---------------------->
         <li>
            <span class="tag-name" id="location">快速定位模块</span>
        {% if site.data.downloadp.tags and site.data.downloadp.tags.size>0 %}
            {% for tag in site.data.downloadp.tags %}
            <a href="{{ tag[1] }}" class="tag">{{ tag[0]}}</a>
            {% endfor %}
        {% endif %}
        </li>

          {% for tags in site.data.downloadp.location %}
        <li>
            <span class="tag-name" id="{{ tagsloc[1] }}">「{{ tag[0] }}」</span>
            {% for csk in site.data.downloadp.content %}
            <p>{{ csk }}</p>
            {% endfor %}
        </li>
        {% endfor%}

    <br>
<li>
   <span class="tag-name" id="report"> 反馈 </span>
   <script src="/assets/js/SunTalk.min.js"></script>

   <div id="gitalk_container"></div>
   <script>
    var gitalk = new Gitalk({
      clientID: '800a929ad18c8e90fdbc',
      clientSecret: '3dcb1cc3680b9b85ad4291367b4aafefd6806e58',
      repo: 'BlogCommentStore',
      owner: 'SunbossRS',
      admin: 'SunbossRS',
      id: location.pathname,
      distractionFreeMode: 'true'
    })
    gitalk.render('gitalk_container')
   </script>
