{% include b2t.html %}
 
<footer class="g-footer">
  <section>{{ site.title }} ©
  {% assign current = "now" | date: "%Y" | plus: 0%}
  {% unless site.footer.since and site.footer.since == current %}
    {{ site.footer.since }}
    -
  {% endunless %}
  {{ current }}
  </section>
  
    <section>Powered by <a href="https://sunbossrs.github.io/info.tech.mc.html">info.tech.mc</a> | <a href="#">Copyright SunbossRS</a> </section>
	
	<p>{{ site.footer.say }}</p>
	
    <p>
    <div class="busuanzi-count">
      <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
      <span class="site-uv" title="总点击人数">
					<img src="/assets/vendor/octicons/svg/person.svg" width="10" height="16">
			<span class="busuanzi-value" id="busuanzi_value_site_uv"></span></span>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <span class="site-pv" title="总点击量">
					<img src="/assets/vendor/octicons/svg/eye.svg" width="16" height="16">
			<span class="busuanzi-value" id="busuanzi_value_site_pv"></span></span>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <span class="page-pv"title="本页面点击人数">
					<img src="/assets/vendor/octicons/svg/file-text.svg" width="12" height="16">
			<span class="busuanzi-value" id="busuanzi_value_page_pv"></span></span>
    </div>
    </p>
	
    <p>
      <script type="text/javascript" src="https://api.lwl12.com/hitokoto/main/get?encode=js&charset=utf-8"></script><div id="lwlhitokoto"><script>lwlhitokoto()</script></div>
    </p>

	{% include minecraft-title.html %}
</footer>
