<script class="text/javascript">
(function (){
            var now = (new Date()).getHours();
            if (now > 23 || now <= 5) {
                background = url('https://gitee.com/srsyrzz/repository/raw/master/findthepieces.PNG');
            } else if (now > 5 && now <= 7) {
                background = url('https://gitee.com/srsyrzz/repository/raw/master/sunup.PNG');
            } else if (now > 8 && now <= 10) {
                background = url('https://gitee.com/srsyrzz/repository/raw/master/sunup.PNG');
            } else if (now > 11 && now <= 18) {
                background = url('https://gitee.com/srsyrzz/repository/raw/master/workhardpkg.PNG');
            } else if (now > 19 && now <= 23) {
                background = url('https://gitee.com/srsyrzz/repository/raw/master/NightDigHard.PNG');
            }
        }
    }
})();
</script> 
