<center style="font-size: 0.9em;">
    <div class="row">
	<section>
		<div id="skPlayer">
		<script src="http://sunbossrs.github.io/assets/js/skPlayer.min.js"></script>
		<p>
			<script>
                var player = new skPlayer({
                    autoplay: false,
                    listshow: true,
                    mode: 'listloop',
                    music: {
                        type: 'cloud',
                        source: 2016349850
                    }
                });
			</script>
            </div>
		</p>
	</section>
    </div>
	<br>
