      <style media="screen">
    .reward {
        padding: 5px 0;
        margin: 20px auto;
        width: 90%;
        text-align: center;
    }
    .rewardButton {
        background-color: #f44236;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: '微软雅黑';
        font-size: 18px;
        padding: 5px 25px;
        text-decoration: none;
    }
    .rewardButton:hover {
        background-color: #F7877F;
    }
    .wechat:hover p {
        animation: roll 0.1s infinite linear;
        -webkit-animation: roll 0.1s infinite linear;
        -moz-animation: roll 0.1s infinite linear;
    }
    .alipay:hover p {
        animation: roll 0.1s infinite linear;
        -webkit-animation: roll 0.1s infinite linear;
        -moz-animation: roll 0.1s infinite linear;
    }
    .QR {
        padding-top: 20px;
    }
    .QR a {
        border: 0;
    }
    .QR img {
        width: 180px;
        max-width: 100%;
        display: inline-block;
        margin: 0.8em 2em 0 2em;
    }
</style>
<div class="reward"> 
    <a class="rewardButton" title="请{{ site.author }}赞助？"> 创作动力 </a>

    <div class="QR" style="display: none">

	<p>想请耀日庄主喝杯茶吗？</p>
	<img width="40%" height="40%" src="/assets/img/WechatPayment.png" />
        <br />
        <p>在这里，你可以提供你自己的想法。你放心，我会在开头标明是你的想法的。</p>
        <br />
        <p>加一下我的聊天群吧~</p>
        <img width="40%" height="40%" src="/assets/img/QQGroup-ZhuangZhu-QRCode.jpg" />
        <br />
	<p>另外，我在哔哩哔哩里做了个。。。实况主。。你们可以来关注我。</p>
        <a href="https://space.bilibili.com/204437680/">点击跳转</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("a.rewardButton").click(function() {
            $("div.QR").slideToggle()
        });
    });
</script>
