<style class="text/css">
   .img{
     height: 60%
     width: 60%
    }
   
   .button{
     height: 40px
     width: 50px
    }

    #AniTit{
        /*animation-delay: 5s;
        animation-duration: 100s;
        animation-iteration-count: infinite;
        animation-name: shake;
        animation-timing-function: ease-in-out;*/
        /*animation-delay: 5s;*/
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-iteration-count: inherit;
        animation-name: bounce;
        transform-origin: center bottom;
    }
    /*弹跳动画*/
    @keyframes bounce {
          0%, 15%, 47%, 73%,89%,100% {
            animation-timing-function: ease-out;
            transform: translate3d(0,0,0);
          }
          30%, 32% {
            animation-timing-function: ease-in;
            transform: translate3d(0, -42px, 0);
          }
          60% {
            animation-timing-function: ease-in;
            transform: translate3d(0, -24px, 0);
          }
          82% {
            animation-timing-function: ease-in;
            transform: translate3d(0, -12px, 0);
          }
          94% {
            animation-timing-function: ease-in;
            transform: translate3d(0,-3px,0);
          }
        }
</style>
