---
layout: page
title: '友链'
header-img: '{{ site.imgbed }}/sunup.jpg'
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  
<li>
   <span class="tag-name" id="minecraftlink">我的世界链接</span>   
      {% for minecraftlink in site.data.links.mclink %}
      <br />
       <p><i class='fa fa-telegram'></i><a href="{{ minecraftlink[1] }}">{{ minecraftlink[0] }}</a>
      {% endfor %}
</li>
<li>
   <span class="tag-name" id="technologylink">技术好友的链接</span>
      {% for technologylink in site.data.links.Technologyfriendlnk %}
      <br />
       <p><i class='fa fa-paper-plane'></i><a href="{{ technologylink[1] }}">{{ technologylink[0] }}</a>
      {% endfor %}
</li>
<li>
   <span class="tag-name" id="othertype">其他类型的链接</span>
        {% for othertype in site.data.links.Othertype %}
         <br />
        <i class="other"></i><a href="{{ othertype[1] }}">{{ othertype[0] }}</a>
        {% endfor %}
</li>
<br>
<li>
    <span class="tag-name" id="change-friendlink"> 让{{ site.author }}收录你的友情链接？ </span>
    你可以随时随地的来找我添加链接。但要确保你的网站没有不良信息。<br>
    另外，你还可以通过QQ和我谈加我的链接，或者是在下面的聊天框里面来跟我互换链接。<br>
    你可以通过每一篇文章都尾部里面赞赏按钮的链接来进入QQ群。如果进聊天框里的话，请你输入以下内容。<br>
    <address>我要申请添加友链。我叫___，我的网站是https://___。</address>
    其实你还可以在聊天框里闲聊～ 
</li>
<li>
    <span class="tag-name" id="MyFriendLinkHasBadThings"> 我的友链出现了意外？ </span>
    欢迎大家随时监督我的友链，如果你们看到我的友链里出了什么意外，大家可以随时在QQ或聊天框反馈给我。  <br>
    在聊天框里输入：  <br>
    <address>___网站出现了意外，麻烦庄主尽快修复它。</address>
    <address>原因：___</address>
</li>
    <br>   
<li>
   <script src="/assets/js/SunTalk.min.js"></script>

   <div id="gitalk_container"></div>     
   <script>
    var gitalk = new Gitalk({
      clientID: '800a929ad18c8e90fdbc',
      clientSecret: '3dcb1cc3680b9b85ad4291367b4aafefd6806e58',
      repo: 'BlogCommentStore',
      owner: 'SunbossRS',
      admin: 'SunbossRS',
      id: location.pathname,     
      distractionFreeMode: 'true'  
    })
    gitalk.render('gitalk_container')
   </script>

</ul>

</main>
