---
layout: default
---

{% include header.html %}

  <header class="g-banner post-header {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
      <div class="filter"></div>
      <div class="post-cover" style="background: url('{{ site.Tickbg }}') center no-repeat; background-size: cover;"></div>
	  <br /><br /><br /><br /><br /><br /><br /><br /><br />
	  <h1 style="text-align: center;">{{ page.title }}</h2>
  </header>

<!--
<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
	<h2>{{ page.title }}</h2>
</div>
-->

<div class="post-content visible">
<main class="tags-content">
    <ul class="tags-list">
	
	  {{ content }}
	
    </ul>
</main>
</div>
    
</body>
{% include footer.html %}

<!--
We need to always remember that this page section is a based card-design section.
-->
